// Specific CSS for your home-page
// .home_video {
//   width: 100vw;
//   height: 100vh;
//   position: absolute;
//   object-fit: cover;
//   top: 0;
//   z-index: -2;
// }

// .home-video-wrapper {
//   height: 100vh;
//   display: flex;
// }

h1.home {
  color: #4A4A4A;
  margin: 2rem 0;
  padding: 1px;
}

.wrap-title {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  height: 80vh;
  width: 80vw;
  text-align: center;
  margin: auto;
  padding-top: 200px;
}
